@model DoppleWebDemo.Models.FunctionComparison
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Function Compare";
    }

<h3 style="margin-bottom:7%">You can just click Compare, or try and input your own code</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row text-center">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.FirstFunctionCode, "First Function Code", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FirstFunctionCode, new { htmlAttributes = new { @class = "form-control function-textbox"} })
                @Html.ValidationMessageFor(model => model.FirstFunctionCode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.SecondFunctionCode, "Second Function Code", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.SecondFunctionCode, new { htmlAttributes = new { @class = "form-control function-textbox"} })
                @Html.ValidationMessageFor(model => model.SecondFunctionCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div align="center">
                <input type="submit" value="Compare!" class="btn btn-default" style="width : 30%; font-size: large" />
            </div>
        </div>
    }

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
}

